# Core Dependencies
streamlit
python-dotenv
PyPDF2
google-generativeai

# Audio Recording and Processing
streamlit-mic-recorder
# streamlit-webrtc
av
pydub
ffmpeg-python
soundfile

# Librosa and Compatible Versions
librosa==0.10.1
numba==0.57.1
llvmlite==0.40.1

# ML and NLP
torch
torchaudio
transformers
datasets
numpy
